
<% provide(:title, @user.first_name) %>
<header class="masthead bg-primary text-white">

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.picture  %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
</header>
<div class="container">
              
          <hr class="star-light">
          <h2 class="boom">Bio</h2>
          <h3 class="font-weight-light mb-0"><%= @user.bio %></h2>
</div>

 <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
           <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
<% end %>
</div>
      <div class="container">
       <h4>
            <%= " #{@user.username} likes: " %>
            <% @user.votes.up.votables.each do |game| %>
              <li>
                <%= link_to game.name, game  %>
              </li>
            <% end %>
        </h4>
      </div>
      
      <div class="container">
       <h4>
            <%= " #{@user.username} dislikes: " %>
            <% @user.votes.down.votables.each do |game| %>
              <li>
                <%= link_to game.name, game  %>
              </li>
            <% end %>
        </h4>
      </div>