<!DOCTYPE html>
<html>
   <head>
      <header class="masthead bg-primary text-white text-center">
         <div class="container">
            <% provide(:title, @user.first_name) %>
            <h1>
               <%= image_tag( @user.picture) %>
            </h1>
            <h1 class="mb-0"><%= @user.username %></h1> 
      </header>
            <hr class="star-light">
            <h2 class="boom text-center">Bio</h2>
+            <h3 class="font-weight-light mb-0 text-center">
+            <%= @user.bio %></h3>
         </div>
         <div class="container">
            <% if @user.posts.any? %>
            <hr class="star-light">
            <h3 class="boom">Posts (<%= @user.posts.count %>)</h3>
            <h3 class="font-weight-light mb-0">
              <ol class="posts">
               <%= render @posts %>
              </ol>
            <%= will_paginate @posts %>
            <% end %>
         </div>
         <div>
            <h4>
               <%= " #{@user.username} likes: " %>
               <% @user.votes.up.votables.each do |game| %>
               <li>
                  <button class="btn btn-outline-primary"><%= link_to game.name, game  %></button>
               </li>
               <% end %>
            </h4>
         </div>
         <div>
            <h4>
               <%= " #{@user.username} dislikes: " %>
               <% @user.votes.down.votables.each do |game| %>
               <li>
                  <button class="btn btn-outline-primary"><%= link_to game.name, game  %></button>
               </li>
               <% end %>
            </h4>
         </div>
      
   </head>
</html>