<!DOCTYPE html>
<html>
  <head>
     <%= stylesheet_link_tag 'users' %>
     <%= javascript_include_tag 'users' %>
      <header class="masthead bg-primary text-white text-center">
        <div class="container">
          
          <% provide(:title, @user.first_name) %>
          <h0>
           <img class="img-fluid mb-d-block mx-auto" alt=""> <%= image_tag( @user.picture) %>
          
         </h0>
          <h1 class="text-uppercase mb-0"><%= @user.username %></h1>
          <hr class="star-light">
          <h2 class="boom">Bio</h2>
          <h3 class="font-weight-light mb-0"><%= @user.bio %></h2>
        </div>

        <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
           <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
        <% end %>
     </div>
     
      <div>
       <h4>
            <%= " #{@user.username} likes: " %>
            <% @user.votes.up.votables.each do |game| %>
              <li>
                <%= link_to game.name, game  %>
              <li>
            <% end %>
        </h4>
      </div>
      
      <div>
       <h4>
            <%= " #{@user.username} dislkes: " %>
            <% @user.votes.down.votables.each do |game| %>
              <li>
                <%= link_to game.name, game  %>
              <li>
            <% end %>
        </h4>
      </div>

      </header>
  </head>
</html>