<header class = "searched">
    <div class = "container">
        <h1><%= image_tag @game.image %></h1>
        <h2><%= @game.name %></h2>
        <h3><%= @game.description %></h3>

<%= image_tag (@game.image) %>
<%= @game.name %></h1>
<%= @game.description %></h1>
<% @reviews.each do |review| %>
    <% if review.user_id != nil %>
        <%= User.find(review.user_id).username %>
        <%= review.comments %>
    <% end %>
<% end %>

<%= form_for [@game, @review] do |f| %>
    <%= f.label :comments %>
    <%= f.text_field :comments, class: 'form-control' %>
    <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
    </div>
</header>