<!DOCTYPE html>
<html>
  <head>
    <header class = "game">
        <div class = "container10">
            <h1><%= image_tag @game.image %></h1>
            <h2><%= @game.name %></h2>
            <h3><%= @game.description %></h3>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "upvote", like_game_path(@game), method: :put %> </button>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "downvote", dislike_game_path(@game), method: :put %></button>
            <button>A crowd of <%= @game.score %> approves of this! </button>
        </div>
  
    </head>
    
<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://girls-talk-games.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>               
</html>