<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Girls Talk Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             <li><%= link_to "Home", main_app.root_path %></li>
            </li>
            
            <li class="nav-item active">
             <li><%= link_to "Search", main_app.new_game_path %></li>
            </li>
 
            <% if logged_in? %>
              
              <li class="nav-item active">
              <li><%= link_to "Users", main_app.users_path %></li>
              </li>
              
              <li class="nav-item active">
              <li><%= link_to "Games", main_app.games_path %></li>
              </li>
              
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
            
              <li class="nav-item">
              <li><%= link_to "Profile", current_user %></li>
              </li>
              <li class="nav-item">
              <li><%= link_to "Forum", '/forum' %></li>
              </li>
              <li class="nav-item">
              <li><%= link_to "Settings", main_app.edit_user_path(current_user) %></li>
              </li>
              <li class="nav-item">
              <li><%= link_to "Logout", main_app.logout_path, method: :delete %></li>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
          <li><%= link_to "Login", main_app.login_path %></li>
          </li>
        <% end %>

          </ul>
        </div>
      </div>
    </nav>