<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
         <a class="navi navbar-brand" href="/">Girls Talk Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "About", main_app.about_path %></button>
            </li>
            <li>
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "Search", main_app.new_search_path %></button>
            </li>

            <% if logged_in? %>
              
              <li class="nav-item active">
               <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "Users", main_app.users_path %></button>
              </li>
              
              <li class="nav-item active">
               <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "Games", main_app.games_path %></button>
              </li>
              
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" a href="#" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account </button>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2>
                  <button class="btn btn-outline-secondary dropdown-item" type="button"><%= link_to "Profile", current_user %></button>
                  <button class="dropdown-item" type="button"><%= link_to "Forum", '/forum' %></button>
                  <button class="dropdown-item" type="button"><%= link_to "Settings", main_app.edit_user_path(current_user) %></button>
                  <button class="dropdown-item" type="button"><%= link_to "Logout", main_app.logout_path, method: :delete %></button>
              </div>
          </div>
        <% else %>
          <li class="nav-item">
           <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "Login", main_app.login_path %></button>
          </li>
          <li class="nav-item">
           <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to "Login with Google", '/auth/google_oauth2' %></button>
          </li>
        <% end %>

          </ul>
        </div>
      </div>
    </nav>